/*reset*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, dd, dt, dl {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none; }

*, *:after, *:before {
  box-sizing: border-box;
  outline: none; }

input, textarea {
  outline: none; }

input[type=radio] {
  margin: 3px 3px 3px 0; }

div:after, ol:after, form:after, ul:after, dl:after, section:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden; }

a, a:hover {
  cursor: pointer;
  text-decoration: none; }

label {
  display: inline-block; }

.lightboxOverlay, #TB_overlay, #publishUserReview .footer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  padding-top: 0.6em;
  text-align: left;
  z-index: 99; }

.lightboxOverlay {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  visibility: hidden; }

.lightboxOverlayInner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90; }

.lightboxClose, .formUserComment .close a {
  position: absolute;
  top: -37px;
  right: 0;
  cursor: pointer;
  color: #fff; }

#TB_closeWindowButton {
  position: absolute;
  top: -37px;
  right: 45; }

.lightboxBlock, #publishUserReview .header {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  background: transparent;
  border-radius: 0;
  z-index: 99; }

.lightboxOverlay.open {
  opacity: 1;
  visibility: visible; }

#TB_window {
  width: 100% !important;
  left: 0 !important;
  margin-left: 0 !important;
  background: #fff; }
  #TB_window iframe {
    width: 800px !important;
    height: 500px !important;
    display: block;
    margin: 0 auto; }

.pageHeader {
  background: #9cd0ec; }
  .pageHeader nav.pageNavigator {
    float: left; }
    .pageHeader nav.pageNavigator ul li {
      display: inline-block;
      padding: 18px 0; }
      .pageHeader nav.pageNavigator ul li.current {
        background: #83c6ea; }
        .pageHeader nav.pageNavigator ul li.current a {
          border-right: 0; }
      .pageHeader nav.pageNavigator ul li a {
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        padding: 0 17px;
        display: block;
        border-right: 1px solid rgba(255, 255, 255, 0.15);
        padding: 0 17px; }
  .pageHeader .boxLogin {
    float: right; }
    .pageHeader .boxLogin .boxContent {
      display: block;
      padding: 5px 10px 5px 0;
      cursor: pointer; }
      .pageHeader .boxLogin .boxContent .imgProfile {
        width: 43px;
        float: left; }
        .pageHeader .boxLogin .boxContent .imgProfile img {
          border-radius: 50%;
          width: 100%;
          height: auto; }
      .pageHeader .boxLogin .boxContent .nameProfile {
        float: right;
        padding: 12px 0 14px 10px; }
        .pageHeader .boxLogin .boxContent .nameProfile h2 {
          color: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 15px; }
          .pageHeader .boxLogin .boxContent .nameProfile h2 i.icon-arrow {
            background: url(../images/arrowProfile.png) no-repeat;
            display: inline-block;
            width: 15px;
            height: 8px;
            background-size: 100%;
            margin-left: 8px; }
    .pageHeader .boxLogin .submenu-profile {
      display: none;
      width: 270px;
      height: 200px;
      position: absolute;
      border: 1px solid #efefef;
      right: 80px;
      background: #fff; }
      .pageHeader .boxLogin .submenu-profile:before {
        content: "";
        position: absolute;
        top: -10px;
        left: 150px;
        margin-left: -22px;
        border-right: 10px solid transparent;
        border-top: 0px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 10px solid #fff;
        z-index: 1; }
      .pageHeader .boxLogin .submenu-profile.active {
        display: block; }

.pageFooter {
  background: #64a99f;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px 0; }
  .pageFooter .txtFooter {
    float: left; }
    .pageFooter .txtFooter p {
      font-family: "Open Sans", sans-serif;
      color: #fff;
      font-size: 13px;
      text-transform: uppercase; }
      .pageFooter .txtFooter p a {
        color: #f27b53; }
  .pageFooter .help {
    float: right; }
    .pageFooter .help ul li {
      display: inline-block; }
      .pageFooter .help ul li a {
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        padding-left: 10px; }

.wrapper {
  width: 1124px;
  margin: 0 auto; }

body {
  padding-bottom: 110px; }

.ui-growl-item-container {
  cursor: pointer; }

.ui-growl .ui-growl-item-container {
  box-shadow: none;
  border-radius: 2px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  background: #e67e22; }
  .ui-growl .ui-growl-item-container .ui-growl-image {
    background: url(../images/iconAlert.png) no-repeat;
    background-size: 100%;
    margin-top: 13px; }

.boxBtn {
  text-align: center; }
  .boxBtn input {
    background: red;
    border: none;
    margin-top: 20px;
    width: 120px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    background: #60a2da;
    color: #fff; }

body.login {
  background: #f1f1f1; }
  body.login .boxLogin {
    background: #fff;
    position: absolute;
    border: 1px solid #eaeaea;
    left: 34%;
    top: 25%;
    width: 400px;
    height: auto;
    padding: 20px 30px; }
    body.login .boxLogin form {
      text-align: center; }
      body.login .boxLogin form .item {
        display: block;
        width: 100%; }
        body.login .boxLogin form .item label {
          display: block;
          font-family: "Open Sans", sans-serif;
          font-size: 15px;
          padding-top: 10px;
          text-align: left; }
        body.login .boxLogin form .item input {
          display: block;
          width: 96%;
          border: 1px solid #ccc;
          border-radius: 1px;
          font-family: "Open Sans", sans-serif;
          padding: 8px;
          margin-top: 10px;
          background: rgba(247, 247, 247, 0.36);
          text-align: left; }

.lightboxOverlay.open .lightboxBlock {
  width: 50%;
  min-height: 363px !important;
  background: #fff;
  padding: 40px;
  left: 27% !important;
  top: 15% !important; }
  .lightboxOverlay.open .lightboxBlock a.lightboxClose {
    position: absolute;
    top: -40px;
    right: -40px;
    display: block;
    width: 40px;
    height: 40px;
    text-align: right; }
    .lightboxOverlay.open .lightboxBlock a.lightboxClose:before {
      content: "X";
      font-size: 25px;
      font-family: Arial;
      font-weight: 300; }
  .lightboxOverlay.open .lightboxBlock .lightboxInner #formCadastro {
    display: block; }
    .lightboxOverlay.open .lightboxBlock .lightboxInner #formCadastro .item label {
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      padding: 10px 0;
      display: block; }
    .lightboxOverlay.open .lightboxBlock .lightboxInner #formCadastro .item input {
      display: block;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 1px;
      font-family: "Open Sans", sans-serif;
      padding: 8px;
      background: rgba(247, 247, 247, 0.36);
      text-align: left; }
    .lightboxOverlay.open .lightboxBlock .lightboxInner #formCadastro .item textarea {
      width: 100%;
      min-height: 100px;
      border: 1px solid #ccc;
      border-radius: 1px;
      font-family: "Open Sans", sans-serif;
      padding: 8px;
      background: rgba(247, 247, 247, 0.36);
      text-align: left; }

.lightBoxCad {
  display: none; }

.inputSearch {
  padding: 30px 0; }
  .inputSearch .input-search {
    padding: 10px;
    border-radius: 1px;
    border: 1px solid #ccc;
    width: 40%;
    float: left; }
  .inputSearch .boxCadastro {
    float: right; }
    .inputSearch .boxCadastro .newClient, .inputSearch .boxCadastro .newPrestador {
      background: #f27b53;
      border-radius: 1px;
      color: #fff;
      box-shadow: inset 0px 0px 13px 1px #ef8d6d;
      padding: 10px 30px;
      display: block;
      transition: .5s ease; }
      .inputSearch .boxCadastro .newClient:hover, .inputSearch .boxCadastro .newPrestador:hover {
        background: #d0623d;
        box-shadow: none; }

#formResult .ui-outputpanel .ui-datatable .ui-datatable-tablewrapper table {
  border: 1px solid #f1f1f1; }
  #formResult .ui-outputpanel .ui-datatable .ui-datatable-tablewrapper table thead {
    background: #f1f1f1; }
    #formResult .ui-outputpanel .ui-datatable .ui-datatable-tablewrapper table thead tr th {
      border: none;
      padding: 13px 10px;
      text-align: left; }
      #formResult .ui-outputpanel .ui-datatable .ui-datatable-tablewrapper table thead tr th span {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        color: #1d1d1d; }
  #formResult .ui-outputpanel .ui-datatable .ui-datatable-tablewrapper table tbody tr {
    border-bottom: 1px solid #f1f1f1; }
    #formResult .ui-outputpanel .ui-datatable .ui-datatable-tablewrapper table tbody tr:nth-child(even) {
      background: #fbfbfb; }
    #formResult .ui-outputpanel .ui-datatable .ui-datatable-tablewrapper table tbody tr td {
      border: none;
      padding: 13px 10px;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: #1d1d1d; }
      #formResult .ui-outputpanel .ui-datatable .ui-datatable-tablewrapper table tbody tr td .btnEdit {
        float: right;
        background: transparent;
        border: none;
        cursor: pointer;
        display: block; }
        #formResult .ui-outputpanel .ui-datatable .ui-datatable-tablewrapper table tbody tr td .btnEdit:before {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          background: url(../images/icon-view.png) no-repeat top center;
          background-size: 100%; }
        #formResult .ui-outputpanel .ui-datatable .ui-datatable-tablewrapper table tbody tr td .btnEdit span {
          display: none; }

/*# sourceMappingURL=style.css.map */
