@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Fonts
$font1: 'Open Sans', sans-serif;

// Color
$bgLoginColor: #f1f1f1;
$headerInterno: #9cd0ec;
$colorFooter: rgb(100, 169, 159);

$white: #fff;
$black: #000;